<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wms.longman.mapper.WarehouseManagerMapper">
    <!-- select all warehouse manager info -->
    <select id="select_all_warehouse_manager" resultType="com.wms.longman.entity.WarehouseManager">
        select * from lm_warehouse_manager
    </select>
</mapper>